body{
    background-image: url(背景1.png) ;
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    font-size: 300%;
    font-family: "Lucida Console", "Courier New", monospace;
    font-style: italic;
    color: aliceblue;
}

h2{
    font-size: 250%;
    font-family:"Lucida Calligraphy", cursive, serif, sans-serif;
    font-style: italic;
    color:lightcyan;
}

#main{
    text-align: center;
}

.con{
    /*设置整体的大小*/
    width: 1480px;
    height: 200px;
    margin-top: 400px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 10px;
    text-align: center;
}

.con div{
    /*确保平均分栏 每一栏都占1/4*/
    width: 25%;
    height: 200px;
    float: left;
}

a:link{
    /*设置链接格式*/
    color: white;
    text-decoration: none;
    font-size: 35px;
    font-family: sans-serif;
    font-style: italic;
}

a:hover{
    /*改变鼠标在链接上的颜色*/
    color:steelblue;
}

a:visited{
    color:white;
}